@*
SPDX-FileCopyrightText: 2026 Bora Yarkın
SPDX-License-Identifier: GPL-3.0-only
*@

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>
