@{
    ViewBag.Title = "Admin";
}

<h2>Admin Sayfası</h2>

<div class="col-md-6">
    <h4>Ürün Yönetimi</h4>
    <div class="list-group">
        @Html.ActionLink("Kategoriler", "Index", "ProductCategoryManager", null, new { @class = "list-group-item" })
        @Html.ActionLink("Ürünler", "Index", "ProductManager", null, new { @class = "list-group-item" })
    </div>
</div>
<div class="col-md-6">
    <h4>Sipariş Yönetimi</h4>
    <div class="list-group">
        @Html.ActionLink("Siparişler", "Index", "OrderManager", null, new { @class = "list-group-item" })
    </div>
</div>
<div class="col-md-12 clearfix"></div>