@*
SPDX-FileCopyrightText: 2026 Bora Yarkın
SPDX-License-Identifier: GPL-3.0-only
*@

@{
    ViewBag.Title = "Teşekkürler";
}

<h2>Teşekkürler</h2>
Siparişiniz alınmıştır.
<br />
<br />
Sipariş Numaranız = @ViewBag.OrderId